<h1>все студенты</h1>

{{#each allStudents}}
<div class="cardWrapper">
  <a href="/student/{{this.id}}">
    <p>{{this.name}}</p>
  </a>
  <p>{{this.email}}</p>
  <p>{{this.phone}}</p>

</div>
{{/each}}
