<div class="chess_game_div">
  <div class="player_div">Ученик
    <p style="color: aliceblue;" >Ходы:</p>
  </div>
  <div class="chess_img_div">
    <img id="chessboard" src="/img/chess-board-and-pieces.jpg" alt="chess_game_board_img">
  </div>
  <div class="player_div">Учитель
    <p style="color: aliceblue;" >Ходы:</p>
  </div>
</div>
