<form name="chaildRegister" action="/student/children{{studentId.id}}" method="post">

<input type="text" name="name" placeholder="name">
<input type="text" name="age" placeholder="age">
<button>добавить</button>
</form>
