<div class="testLessonMainDiv">
  <div class="testLessonDiv">


<form name="chaildRegister" action="/student/children{{studentId.id}}" method="post">

<input type="text" name="name" placeholder="name">
<input type="text" name="age" placeholder="age">
<button id="test_input_button"  >добавить</button>
</form>

  </div>
</div>
<script defer src="/js/childreg.js"></script>
