Выберите регистрацию

 <div class="register_div">
        <div class="test_reg_div">
          <a href="/mentor/register"><button class="regBtn"> Зарегистрироваться как преподаватель</a></buttontype>
        </div>
        <div class="reg_div">
         <a href="/student/register"> <button class="regBtn"> Зарегистрироваться как ученик</a></buttontype>
        </div>
      </div>
