{{!-- Войти в личный кабинет

 <div class="register_div">
        <div class="test_reg_div">
          <a href="lesson/register"><button class="regBtn"> Личный кабинет преподавателя</a></buttontype>
        </div>
        <div class="reg_div">
         <a href="/chooseSignin"> <button class="regBtn"> Личный кабинет ученика</a></buttontype>
        </div>
      </div> --}}



{{!-- не сделано --}}
