<div class="text_div" style="padding: 10px;">
  <h1 style="color:  #AC67FC;">Выберите регистрацию</h1>
</div>

<div class="choose_main_div">
  <div class="register_div">
    <div class="test_reg_div">
      <a href="/mentor/register">
        <button style="background-color: #FD67B0;" class="ChooseregBtn"> Зарегистрироваться как преподаватель</a>
      </buttontype>
    </div>

    <div class="reg_div">
      <a href="/student/register"> <button style="background-color: #BBEB30;" class="ChooseregBtn"> Зарегистрироваться
          как
          ученик</a></buttontype>
    </div>
  </div>
</div>
