<script defer src="/js/edit.js"></script>

<h1>редактирование страницы </h1>

<form name="editForm" data-id="{{student.id}}">

  <input type="text" placeholder="ФИО ребенка" name="studentName" value="">
  <input type="text" placeholder="ФИО родителя" name="parentName" value="">
  <input type="email" placeholder="email" name="email" value="">
  <input type="password" placeholder="password" name="password" value="">
  <input type="text" placeholder="phone" name="phone" value="">
  <input type="text" placeholder="age" name="studentAge" value="">



  <button type="submit">отправить</button>


</form>
