<div class="main_div">
  <div class="central_div">

    <div class="central_div_1">

      <div class="central_img_div">
        <img src="/img/logo.png" alt="">
      </div>
      <div class="index_main_text">
        Школа <br>
        Шахмат
      </div>
    </div>

    <div class="central_div_2">
      <div class="register_div">


        <div class="test_reg_div">
          <a style="color: aliceblue;" href="lesson/register"><button style="width: 300px;" class="regBtn"> Регистрация
              на пробный урок</a></buttontype>
        </div>
        <div class="reg_div">
          <a style="color: aliceblue;" href="/chooseRegister"> <button style="width: 300px;" class="regBtn">
              Регистрация</a></buttontype>
        </div>

      </div>

      <div class="prog_chooser_div_main">
        <a href="/programmesList">Программы обучения</a>
      </div>

    </div>

  </div>


  <div class="footer_div">

  </div>
</div>
