<div class="main_div">



  <div class="central_div">

    <div class="central_div_1">
      
      <div class="central_img_div">
        <img src="/img/logo.png" alt="">
      </div>
      <div class="index_main_text">
        Школа <br>
        Шахмат
      </div>
    </div>

      <div class="central_div_2">
      <div class="register_div">
        <div class="test_reg_div">
          <button class="regBtn">  <a href="">Регистрация на пробный урок</a></buttontype>
        </div>
        <div class="reg_div">
          <button class="regBtn"> <a href="">Регистрация</a></buttontype>
        </div>
      </div>
    </div>
  </div>


  <div class="footer_div">

  </div>









</div>

<script src=""></script>



{{!-- <li class="menu-list--item">
  <a href="/user/student/register/lesson">регистрация на пробный урок</a>
</li>
<li class="menu-list--item">
  <a href="student/register">регистрация на обучение</a>
</li> --}}
