<div class="main_div">
  


  <div class="central_div">

<div class="central_img_div">
  <img src="/img/logo.png" alt="">
</div>



    <div class="register_div">
      <div class="test_reg_div">
       <a href="/lesson/register"><button class="regBtn">test register</button></a>
      </div>
      <div class="reg_div">
        <a href="/student/register"><button class="regBtn">register</button></a>
      </div>
    </div>
  </div>


<div class="footer_div">

</div>









</div>



        {{!-- <li class="menu-list--item">
          <a href="/user/student/register/lesson">регистрация на пробный урок</a>
        </li>
        <li class="menu-list--item">
          <a href="student/register">регистрация на обучение</a>
        </li> --}}

<script defer src="/js/index.js"></script>
