<div class="main_div">
  


  <div class="central_div">

<div class="central_img_div">
  <img src="/img/logo.png" alt="">
</div>



    <div class="register_div">
      <div class="test_reg_div">
        <button class="regBtn">test register</buttontype>
      </div>
      <div class="reg_div">
        <button class="regBtn">register</buttontype>
      </div>
    </div>
  </div>


<div class="footer_div">

</div>









</div>



        {{!-- <li class="menu-list--item">
          <a href="/user/student/register/lesson">регистрация на пробный урок</a>
        </li>
        <li class="menu-list--item">
          <a href="student/register">регистрация на обучение</a>
        </li> --}}
