<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  
<header class="header">
<nav class="nav">
  <ul class="menu-list">
    <li class="menu-list--item">
      <a href="/mentor/register">Регистрация преподавателя</a>
    </li>
    <li class="menu-list--item">
      <a href="/user/student/register/lesson">Регистрация на пробный урок</a>
    </li>
    <li class="menu-list--item">
      <a href="student/register">Регистрация на обучение</a>
    </li>
     <li class="menu-list--item">
      <a href="/">Главня</a>
    </li>
     <li class="menu-list--item">
      <a href="/student/sign in">Войти</a>
    </li>
     <li class="menu-list--item">
      <a href="/student/logout">Выйти</a>
    </li>
  
  </ul>

</nav>

</header>


  {{{body}}}
</body>
</html>
