<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kurenaido&display=swap" rel="stylesheet">
  <title>Chess School</title>
  
</head>

<body>


  {{!-- <header class="header">
    <div class="div_logo">
      <img id="logo_img" src="/img/logo_mini.png" alt="logo">
    </div>

    <nav class="nav">
      <ul class="menu-list">
        <li class="menu-list--item">
        <li class="menu-list--item">
          <a href="/">главная</a>
        <li class="menu-list--item">
          <a href="/signin">войти</a>
        </li>
        <li class="menu-list--item">
          <a href="/logout">выйти</a>
        </li>
      </ul>
    </nav>

  </header> --}}

  {{{body}}}
</body>


</html>
