<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  
<header class="header">
<nav class="nav">
  <ul class="menu-list">
    <li class="menu-list--item">
      <a href="/mentor/register">регистрация преподователя</a>
    </li>
    <li class="menu-list--item">
      <a href="/user/student/register/lesson">регистрация на пробный урок</a>
    </li>
    <li class="menu-list--item">
      <a href="student/register">регистрация на обочение</a>
    </li>
     <li class="menu-list--item">
      <a href="/">главня</a>
    </li>
     <li class="menu-list--item">
      <a href="/user/sign in">войти</a>
    </li>
     <li class="menu-list--item">
      <a href="/user/logout">выйти</a>
    </li>
  
  </ul>

</nav>

</header>


  {{{body}}}
</body>
</html>
