<h1>регистрация учителя</h1>

<form action="">

  <input type="text" placeholder="ФИО" name="">
  <input type="email" placeholder="email" name="">
  <input type="password" placeholder="password" name="">
  <input type="text" placeholder="phone" name="">

  <button type="submit">отправить</button>

</form>
