<div class="text_div" style="padding: 10px;">
  <h1 style="color:  #AC67FC;">Регистрация преподавателя</h1>
</div>

<div class="testLessonMainDiv">
  <div class="testLessonDiv">

    <form name="mentorRegForm" action="/mentor/register" method="post">

      <input class="test_lesson_input_form" type="text" placeholder="ФИО" name="name">
      <input class="test_lesson_input_form" type="email" placeholder="email" name="email">
      <input class="test_lesson_input_form" type="password" placeholder="password" name="password">
      <input class="test_lesson_input_form" type="text" placeholder="phone" name="phone">

      <button id="test_input_button" type="submit">отправить</button>

    </form>
  </div>
</div>



<script defer src="/js/mentorreg.js"></script>
