<script defer src="/js/mentorEdit.js"></script>

<h1>редактирование страницы {{mentor.name}}</h1>

<form name="editFormMentor" data-id="{{mentor.id}}">

  <input type="text" placeholder="ФИО" name="name" value="">
  <input type="email" placeholder="email" name="email" value="">
  <input type="password" placeholder="password" name="password" value="">
  <input type="text" placeholder="phone" name="phone" value="">


  <button type="submit">отправить</button>


</form>
