<h1>hello {{mentor.name}}</h1>
<a href="/mentor/edit/{{mentor.id}}">редактирование профиля</a>

<div class="profile-div-container">

  

  <div class="profile-side-menu">
    <a href="#"><div class="calendar-div">Календарь/Расписание</div></a>
    <a href="#"><div class="chat-div">Чат с учеником</div></a>
    <a href="#"><div class="settings-div">Настройки</div></a>
    </div>


  </div>
