<div class="text_div" style="padding: 10px;">
  <h1 style="color:  #AC67FC;">Программы обучения</h1>
</div>

<div class="testLessonMainDiv">
  <div class="testLessonDiv">

    <div style="background-color:  #ace600;" class="prog-choose_div">Новичок</div>
    <p>Подходит для тех, кто только начал увлекаться игрой в шахматы</p>
  
    <div style="background-color: rgb(157, 79, 231);" class="prog-choose_div">Опытный</div>
    <p>Если вы уверенно играете в шахматы</p>

    <div style="background-color: #FD6D21;" class="prog-choose_div">Гроссмейстер</div>
    <p>Для тех, кто готовится к соревнованиям и олимпидам</p>

  </div>
</div>
