<form action="/signin" method="post">
  <input type="email" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">
  <button type="submit">войти</button>
</form>
