<div class="text_div" style="padding: 10px;">
  <h1 style="color:  #AC67FC;">Введите ваши данные</h1>
</div>
<div class="testLessonMainDiv">
  <div class="testLessonDiv">

    <form name="signinForm" action="/signin" method="post">
      <input type="email" placeholder="email" name="email">
      <input type="password" placeholder="password" name="password">
      <button id="test_input_button" type="submit">войти</button>
    </form>

  </div>
</div>

<script defer src="/js/signin.js"></script>
