<h1>регистрация с пробным уроком</h1>

<form name="testLessonRegForm">

  <input type="text" placeholder="ФИО" name="name">
  <input type="email" placeholder="email" name="email">
  <input type="text" placeholder="phone" name="phone">

  <button type="submit">Отправить</button>

</form>

<script defer src="/js/testlessonreg.js"> </script>
