<h1>регистрация без пробного урока</h1>

<form  id ="reg" action="/student/register" method="post">

  <input type="text" placeholder="ФИО ребенка" name="studentName">
  <input type="text" placeholder="ФИО родителя" name="parentName">
  <input type="email" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">
  <input type="text" placeholder="phone" name="phone">
  <input type="text" placeholder="age" name="studentAge">



  <button type="submit">отправить</button>


</form>

<script defer src="/js/reg.js"></script>
