<h1 style="color:  #AC67FC;">Записаться на пробный урок</h1>

<div class="testLessonDiv">
  <form  id="testLessonRegForm" name="testLessonRegForm">

    <input type="text" placeholder="ФИО" name="name">
    <input type="email" placeholder="email" name="email">
    <input type="text" placeholder="phone" name="phone">

    <button type="submit">Отправить</button>

  </form>
</div>


<script defer src="/js/testlessonreg.js"> </script>
