<h1>hello {{student.name}}</h1>
<a href="/student/edit/{{student.id}}">редактирование профиля</a>

<div class="profile-div-container">

  <div class="chess-knowledge-test-div">Тест на знание ребёнка по темам<a href="#"> Пройти тест</a></div>

  <div class="profile-side-menu">
    <a href="#"><div class="my-courses-div">Мои курсы</div></a>
    <a href="#"><div class="calendar-div">Календарь</div></a>
    <a href="#"><div class="chat-div">Чат с преподавателем</div></a>
    <a href="#"><div class="payment-div">Оплата</div></a>
    <a href="#"><div class="stats-div">Статистика</div></a>
    <a href="#"><div class="settings-div">Настройки</div></a>
    </div>


   <div> <a href="/student/children/{{student.id}}">Добавить ребёнка</a></div>
   <div class="childen-div-container">
     <div class="child-div"></div>
   </div>
  </div>


