<script defer src="/js/studentRegistration.js"></script>
<h1>регистрация без пробного урока</h1>

<form name="regForm" action="/student/register" method="post">
  
  <input type="text" placeholder="ФИО" name="name">
  <input type="email" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">
  <input type="text" placeholder="phone" name="phone">
  <button type="submit">отправить</button>

</form>

<script defer src="/js/studentreg.js"></script>
