

<div class="text_div" style="padding: 10px;">
  <h1 style="color:  #AC67FC;">Регистрация ученика</h1>
</div>

<div class="testLessonMainDiv">
  <div class="testLessonDiv">
    <form name="regForm" action="/student/register" method="post">
      
  <input class="test_lesson_input_form2"type="text" placeholder="ФИО" name="name">
  <input class="test_lesson_input_form2"type="email" placeholder="email" name="email">
  <input class="test_lesson_input_form2"type="password" placeholder="password" name="password">
  <input class="test_lesson_input_form2"type="text" placeholder="phone" name="phone">

      <button id="test_input_button" type="submit">отправить</button>

    </form>
  </div>
</div>


<script defer src="/js/studentreg.js"></script>

