<h1>регистрация с пробным уроком</h1>




<form action="">

  <input type="text" placeholder="ФИО" name="">
  <input type="email" placeholder="email" name="">
  <input type="text" placeholder="phone" name="">
  <input type="text" placeholder="ФИО ребенка" name="">

  <button type="submit">отправить</button>

</form>
