body {
  background-color: #E5E5E5;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Zen Kurenaido', sans-serif; */

}
#regBtn {
  color: white;
}

#logo_id {
  margin: 20px;
  padding: 20px;
}

.header {
  display: flex;
  max-width: 100%;
  background-color: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
  margin: 10px;
  
  /* align-items: center; */
}
.div_logo {
  justify-content: flex-start;
}

.nav {
  color: rgb(0, 0, 0);
  font-weight: bold;
  justify-content: stretch;
}

input {
  max-width: 600px;
  min-height: 60px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 3px;
}

ul {
  list-style: none;
}


form {
  display: flex;
  flex-direction: column;
}


.menu-list {
  display: flex;
  color: black;

}

.menu-list--item {
  margin-right: 50px;

}

footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  bottom: 0;
  margin: 10px;

}

/* index */
.central_div_1 {
  display: flex;
  flex-direction: row;
  color: rgb(0, 0, 0);
  font-size: 500%;
  margin-left: -40%;
  
}

.index_main_text {
  margin-left: 5%;
  font-weight: bold;
}

.central_div {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  max-height: 100%;
  height: 800px;
  background-color: #FFFFFF;
  border-radius: 15px 15px 0px 0px;
  margin: 10px;
  background-image: url('../img/chessBoard.png');
  background-repeat: no-repeat;
  background-position: right;
}

.register_div {
  display:flex;
  width: 700px;
  height: 250px;
  justify-content: space-evenly;
}

.test_reg_div {
  display: flex;
  width:300px; 
  border-radius: 10px;
  margin: 20px;
  align-items: center;

}

.reg_div {
  display: flex;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.regBtn {
  border: 0px;
  height: 60%;
  width: 100%;
  background-color:  #AC67FC;
  border-radius: 10px;
  font-size: x-large;
  font-weight: bold;
}

#logo_img {
  margin: 20px;
}

a {
  color: black;
  text-decoration: none;
}

/* test lesson register page */

.testLessonDiv {
 background-color: white;
 border-radius: 15px;
 display: flex;
 
 justify-content: center;
}

#testLessonRegForm {
  border-color: #929292;
  
  
}
